[user]
	email = rowansolly32@gmail.com
	name = Rowan Solly
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
